name: Update Credly Badges

on:
  schedule:
    - cron: '0 0 1 */3 *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update README with Credly Badges
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pemtajo/badge-readme@main
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CREDLY_USER: leonardo-guilen
          BADGE_SIZE: 100
